@font-face {
  font-family: "Arial-MT";
  src: url("../assets/fonts/Arial-MT.woff");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;

  font-size: 16px;
  font-family: "Arial", sans-serif;
  text-align: center;
  color: #ffffff;

  background: center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;

  transition: background-image 1s ease-in-out;
}

.hide-blocks {
  opacity: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}


.player {
  transition: opacity 0.5s ease-out;
}

.player-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 120px;
  margin-bottom: 28px;
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;

  padding: 5px;
  padding-left: 20px;

  list-style: none;

  cursor: pointer;
  opacity: 0.8;

  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item::before {
  content: "\2713";
  position: absolute;
  top: 2px;
  left: 0;

  font-weight: 900;
}

.item-active::before {
  color: #c5b358;
}

.player-icon,
.slider-icon,
.change-quote,
.settings-button {
  width: 32px;
  height: 32px;

  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 32px 32px;
  border: 0;
  outline: 0;
  cursor: pointer;
  opacity: 0.8;

  transition: 0.3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover,
.settings-button:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;

  background-image: url("../assets/svg/play.svg");
  background-size: 40px 40px;
}

.pause {
  background-image: url("../assets/svg/pause.svg");
}

.play-prev {
  background-image: url("../assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("../assets/svg/play-next.svg");
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 180px;
  min-height: 180px;

  text-align: left;

  transition: opacity 0.5s ease-out;

  row-gap: 5px;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;

  font-size: 20px;
  line-height: 24px;
  color: #ffffff;

  background-color: transparent;
  border: 0;
  border-bottom: 1px solid #ffffff;
  outline: 0;
}

.city::placeholder {
  font-size: 20px;
  color: #ffffff;

  opacity: 0.6;
}

.main {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;

  margin-top: -16px;

  cursor: pointer;
}

.slide-prev {
  left: 20px;

  background-image: url("../assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;

  background-image: url("../assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;

  font-size: 100px;
  font-family: "Arial-MT";
  letter-spacing: -4px;

  transition: opacity 0.5s ease-out;
}

.date {
  min-height: 28px;
  margin-bottom: 20px;

  font-size: 24px;

  transition: opacity 0.5s ease-out;
}

.greeting-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 48px;

  font-size: 40px;

  transition: opacity 0.5s ease-out;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);

  opacity: 0.5;
}

.greeting {
  padding: 10px;
}

.name {
  padding: 10px;

  font-size: 40px;
  color: #ffffff;

  border: 0;
  outline: 0;
  cursor: text;
}

.name::placeholder {
  color: red;
}

.name::placeholder {
  color: #ffffff;

  opacity: 0.6;
}

.footer {
  position: relative;

  display: flex;
  align-items: flex-end;
  height: 30vh;
  min-height: 160px;
  padding: 20px 100px 20px 20px;

  gap: 40px;
}

.quote-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;

  transition: opacity 0.5s ease-out;
}

.settings-button {
  width: 40px;
  height: 40px;

  background-image: url("../assets/svg/settings.svg");
  background-size: 40px 40px;
}

.rotate {
  transform: rotate(-180deg);
}

.settings-popup {
  position: absolute;
  bottom: 80px;
  left: 80px;
  z-index: 50;

  width: 350px;
  max-height: 0;
  overflow: hidden;

  background: rgba(0, 0, 0, 0.4);
  border-radius: 20px;

  transition: max-height 0.5s ease-out;
}

.settings-container {
  padding: 20px;
}

.settings-form {
  display: flex;
  flex-direction: column;

  gap: 20px;
}

.radio-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  gap: 15px;
}

.form_radio input[type=radio] {
  display: none;
}

.form_radio label {
  position: relative;

  padding-left: 30px;

  cursor: pointer;

  user-select: none;
}
.form_radio label:before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;

  width: 16px;
  height: 16px;

  border: 3px solid #cccccc;
  border-radius: 50%;
}

.form_radio input[type=radio]:checked + label:before {
  background: #2196f3;
}

.form_radio label:hover:before {
  filter: brightness(120%);
}

.switch-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  gap: 10px;
}

.switch-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 20px;
}

.switch {
  position: relative;

  display: flex;
  align-items: center;
  width: 60px;
  height: 34px;
}

.switch-text {
  cursor: pointer;
}

.switch input {
  width: 0;
  height: 0;

  opacity: 0;
}

.slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #cccccc;
  cursor: pointer;

  -webkit-transition: 0.4s;
          transition: 0.4s;
}

.slider:before {
  content: "";
  position: absolute;
  bottom: 4px;
  left: 4px;

  width: 26px;
  height: 26px;

  background-color: white;

  -webkit-transition: 0.4s;
          transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
      -ms-transform: translateX(26px);
          transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.change-quote {
  margin-bottom: 30px;

  background-image: url("../assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;

    font-size: 72px;
  }

  .greeting-container {
    min-height: 40px;

    font-size: 32px;
  }

  .greeting {
    padding: 5px;
  }

  .name {
    padding: 5px;

    font-size: 32px;
  }
}
